libs/
src/.vs/
src/x64/
src/multiotpBE/x64/
src/multiotpBE/obj/

src/OTPCredentialProvider/x64/
src/OTPCredentialProvider/obj/

src/grpcBE/grpcAPI/tmp
src/grpcBE/x64/
src/grpcBE/obj/

src/test_grpcBE/x64/
src/test_grpcBE/obj/

*.csproj.user
*.vcxproj.user


